*
{
    margin: 0;
    padding: 0;
    
}
html
{
    margin: 0;
    padding: 0;
}

nav 
{
    background-color:rgba(255, 0, 0, 0.4);
    opacity:0.7;
    border: 1px solid black;
    width: 100%;
    
}

nav ul 
{
    list-style-type: none;
    height: 80px;
    line-height: 45px;

}

.float
{
        height: 80px;
    line-height: 70px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 40px;
    color: white;
}



nav ul li 
{
    float: right;
    padding-right: 50px;
    font-size: 20px;
    
}

nav ul li a
{
   
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    
    
}

section 
{
    width: 100%;
        height:100vh;
    box-sizing: border-box;
}

section.sec1
{
   background: url(image/StockSnap_0YZ7AJ9996.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.sec2
{
    background: url(image/Playing.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.sec3
{
    background: url(image/pexels-photo-421759.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.sec4
{
    background: url(image/pexels-photo-135230.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.sectext
{
   padding: 50px 100px;
   height: auto;
}